body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  background: lightcyan;
}

.contact{
  border: 1px solid black,;
  margin: 0 auto;
  border-radius: 20px; 
  padding-bottom: 10px; 
  padding-top: 10px;
  display: block;
  width: 50%;
  text-align: center;
}


.field {
  display: block;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
}

.btn {
  width: 150px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.btn:last-child {
  float: right;
}